@* ReSharper disable once Razor.SectionNotResolved *@
@section styles {
    <link rel="stylesheet" href="~/styles/site.css" xmlns="http://www.w3.org/1999/html"/>
}

<vc:marketing-navbar></vc:marketing-navbar>

<section class="landing-intro text-bg-dark pt-5 pt-lg-6 pb-5 pb-lg-7">
    <div class="landing-intro-content container h-100">
        <div class="row align-items-center h-100">
            <div class="col-lg-5 mx-auto">
                <span class="badge badge-subtle-primary p-1">@Localizer["Open Source"]</span>
                <span class="badge badge-subtle-primary p-1">@Localizer["Free"]</span>
                <span class="badge badge-subtle-primary p-1">@Localizer["MIT Licence"]</span>
                <h1 id="main-slogan" class="my-4 text-white" style="font-size: 3rem;">
                    @Localizer["Monitor your servers,"] <span class='text-primary'>@Localizer["easier"]</span>
                </h1>
                <p class="text-lg text-white-50">@Localizer["StatHub is a simple server stat statistics system. It can collect server stats and display them in a simple way."]</p>
                <div class="my-4">
                    <a asp-controller="Dashboard" asp-action="Index" class="btn btn-outline-primary btn-lg btn-pill">
                        <i class="align-middle" data-lucide="grid"></i> @Localizer["Go to dashboard"]
                    </a>
                    <a asp-controller="Deploy" asp-action="SelfHost" class="btn btn-primary btn-lg btn-pill">
                        <i class="align-middle" data-lucide="server"></i> @Localizer["Self host your own"]
                    </a>
                </div>
            </div>
            <div class="col-lg-7 d-none d-lg-flex mx-auto text-center">
                <div class="landing-intro-screenshot">
                    <img src="~/images/screenshot.png" alt="Aiursoft Template Main screenshot" class="img-fluid" />
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-6">
    <div class="container text-center">
        <div class="row">
            <div class="col-12 col-md-10 col-lg-9 col-xl-8 mx-auto">
                <h2 class="h1 mb-3">
                    @Localizer["Join our community and start monitoring today!"]
                </h2>
                <a href="https://github.com/aiursoftweb/stathub/discussions" class="align-middle btn btn-dark btn-pill btn-lg mt-n1" target="_blank">
                    <i class="fa-brands fa-github"></i>
                    <span class="ms-1">@Localizer["Join Discussions"]</span>
                </a>
                <a href="https://github.com/aiursoftweb/stathub" class="align-middle btn btn-outline-dark btn-pill btn-lg mt-3 mt-lg-0" target="_blank">
                    <i class="fa-brands fa-github"></i>
                    <span class="ms-1">@Localizer["View Source on GitHub"]</span>
                </a>
            </div>
        </div>
    </div>
</section>

<vc:marketing-footer></vc:marketing-footer>
