<div class="container-fluid p-0">

    <h1 class="h3 mb-3">@Localizer["Add a New Server"]</h1>

    <div class="row">
        <div class="col-md-4 col-xl-3">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">@Localizer["Version Information"]</h5>
                </div>
                <div class="card-body">
                    <p class="mb-2">@Localizer["Latest agent version"]:</p>
                    <a rel="nofollow noreferrer noopener" href="https://www.nuget.org/packages/Aiursoft.StatHub.Client/" target="_blank">
                        <img class="img-fluid" alt="NuGet version (Aiursoft.StatHub.Client)" src="https://img.shields.io/nuget/v/Aiursoft.StatHub.Client.svg">
                    </a>
                </div>
                <hr class="my-0" />
                <div class="card-body">
                    <p class="mb-2">@Localizer["Current server SDK"]:</p>
                    <span class="badge badge-subtle-primary fs-6">
                        @Aiursoft.StatHub.SDK.Extensions.GetSdkVersion()
                    </span>
                </div>
            </div>
        </div>

        <div class="col-md-8 col-xl-9">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">@Localizer["Add a new server to monitor -"] @Localizer["(Run as a systemd Service)"]</h5>
                </div>
                <div class="card-body">
                    <p>@Localizer["Run the following command on your Linux machine to install the agent and register it as a service. This will automatically connect it to this server."]</p>

                    <pre class="bg-body-tertiary p-3 rounded-3"><code>curl -sL @Context.Request.Scheme://@Context.Request.Host/install.sh | sudo bash</code></pre>

                    <h6 class="mt-4">@Localizer["What does this script do?"]</h6>
                    <ul class="mb-0">
                        <li>@Localizer["Downloads the latest <code>Aiursoft.StatHub.Client</code> agent."]</li>
                        <li>@Localizer["Sets up a <code>systemd</code> service to run the agent."]</li>
                        <li>@Localizer["Configures the agent to report to:"] <strong>@Context.Request.Scheme://@Context.Request.Host</strong></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
