@using Aiursoft.WebTools
@using Aiursoft.CSTools.Tools
@model Aiursoft.StatHub.SDK.Models.Client[]

<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">Welcome, Admin!</h1>
        <p class="lead">Here you can manage your clients and view your clients' status.</p>
    </div>
</div>
<div class="container-fluid">
    <div class="row no-gutters">
        <div class="col-md-12 mt-3 mb-3">
            <div class="card mb-2">
                <div class="card-body">
                    <h5 class="card-title">Client status</h5>
                    <div class="table-responsive">
                        <table class="table table-hover table-sm datatable" id="logTable">
                            <thead>
                                <tr>
                                    <th>IP</th>
                                    <th>Name</th>
                                    <th>Boot at</th>
                                    <th>CPU Usage</th>
                                    <th>Used at</th>
                                    <th>RAM Usage</th>
                                    <th>Last Update</th>
                                    <th>Version</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var client in Model)
                                {
                                    <tr>
                                        <td>@client.Ip</td>
                                        <td>@client.Hostname</td>
                                        <td data-utc-time="@client.BootTime.ToHtmlDateTime()" data-sort="@client.BootTime.Ticks">
                                        </td>
                                        <td>
                                            @{
                                                var cpu = client.GetCpuUsage();
                                                var cpuRate = cpu.Ratio;
                                            }
                                            <div class="progress">
                                                <div class="progress-bar-striped bg-success" role="progressbar" style="width: @(cpuRate)%" aria-valuenow="@cpuRate" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top" 
                                                     title="CPU Usage: User: @cpu.Usr.ToString("0.00")%, System: @cpu.Sys.ToString("0.00")%, Idle: @cpu.Idl.ToString("0.00")%, Wait: @cpu.Wai.ToString("0.00")%, Steal: @cpu.Stl.ToString("0.00")%"></div>
                                            </div>
                                        </td>
                                        <td>@(client.Process)</td>
                                        @{
                                            var mem = client.GetMemUsed();
                                        }
                                        <td data-sort="@mem.UsedRate">
                                            <div class="progress">
                                              <div class="progress-bar-striped bg-success" role="progressbar" style="width: @(mem.UsedRate)%" aria-valuenow="@(mem.UsedRate)" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="Used RAM: @mem.Used.HumanReadableSize()"></div>
                                              <div class="progress-bar-striped bg-info" role="progressbar" style="width: @(mem.BufRate)%" aria-valuenow="@(mem.BufRate)" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="Buffer RAM: @mem.Buf.HumanReadableSize()"></div>
                                              <div class="progress-bar-striped bg-warning" role="progressbar" style="width: @(mem.CacheRate)%" aria-valuenow="@(mem.CacheRate)" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="Cache RAM: @mem.Cache.HumanReadableSize()"></div>
                                            </div>
                                        </td>
                                        <td data-utc-time="@client.LastUpdate.ToHtmlDateTime()" data-sort="@client.LastUpdate.Ticks">
                                        </td>
                                        <td>@client.Version</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
