@using Aiursoft.WebTools
@model Aiursoft.StatHub.SDK.Models.Client[]

<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">Welcome, Admin!</h1>
        <p class="lead">Here you can manage your clients and view your clients' status.</p>
    </div>
</div>
<div class="container">
    <div class="row no-gutters">
        <div class="col-md-12 mt-3 mb-3">
            <div class="card mb-2">
                <div class="card-body">
                    <h5 class="card-title">Client status</h5>
                    <div class="table-responsive">
                        <table class="table table-hover table-sm datatable" id="logTable">
                            <thead>
                                <tr>
                                    <th>IP</th>
                                    <th>Name</th>
                                    <th>Boot at</th>
                                    <th>CPU Usage</th>
                                    <th>Used at</th>
                                    <th>Last Update</th>
                                    <th>Version</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var client in Model)
                                {
                                    <tr>
                                        <td>@client.Ip</td>
                                        <td>@client.Hostname</td>
                                        <td data-utc-time="@client.BootTime.ToHtmlDateTime()" data-sort="@client.BootTime.ToUniversalTime()">
                                        </td>
                                        <td>@(client.CpuUsage)%</td>
                                        <td>@(client.Process)</td>
                                        <td data-utc-time="@client.LastUpdate.ToHtmlDateTime()" data-sort="@client.LastUpdate.ToUniversalTime()">
                                        </td>
                                        <td>@client.Version</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
